 h1 {
	 color:rgba(181,53,181,0.5); 
 }
	 
 #top{
	 color:green;
 }
	 
 .name1{
	 color:blue;
 }
 dl dt{
	 color:#FFCA1E;
 }
 .y {
	 color:#DD4D41;
 }
.g {
	color:#000EFF;
}
 
p {
	font-family: Tahoma,Verdana,sans-serif
}

p {
	font-size :20px;
}
.name2 {
	font-style:italic;
}
.name3 {
	font-weight:bold;
}