 h1 {
	 color:rgba(181,53,181,0.5); 
	 text-align:center;
 }
	 
 #top{
	 color:green;
 }
	 
 .name1{
	 color:blue;
 }
 dl dt{
	 color:#FFCA1E;
 }
 .y {
	 color:#DD4D41;
 }
.g {
	color:#000EFF;
}
 
p {
	font-family: Tahoma,Verdana,sans-serif;
	font-size:20px;
	text-align:justify;
	text-indent: 25px;
	line-height:35px;
	word-spacing:1.5;
	letter-spacing: 5px;

}

.name2 {
	font-style:italic;
	text-decoration:overline;
}
.name3 {
	font-weight:bold;
	text-decoration:underline;
}
.name4{
	text-decoration:line-through;
}
 p a{
	margin-left:50px;
 }